<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>

</head>
<body>
    <h1>Administração</h1>
    
    <h2>Estabelecimentos</h2>
    <input type="text" placeholder="Nome do estabelecimento">
    <input type="text" placeholder="Endereço">
    <button>Cadastrar Estabelecimentos</button>

    <h2>Profissionais</h2>
    <input type="text" placeholder="Nome do profissional">
    <input type="text" placeholder="Documento do profissional">
    <button>Cadatrar profissionais</button>
    
    <h2>Serviços</h2>
    <input type="text" placeholder="Nome do serviço">
    <input type="text" placeholder="Preço">
    <input type="text" placeholder="Duração">
    <button>Cadastrar Serviços</button>

    <h2>Horários</h2>
    <input type="time">
    <button>Cadastrar Horários</button>

</body>
</html>
